<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <listeners>
        <listener class-name="techproed.utilities.ExtentReportsListener"></listener>
    </listeners>
    <test name="Test for Now">
        <classes>
            <class name="techproed.allovercommerce.tests.us06.TC001"></class>
            <class name="techproed.allovercommerce.tests.us06.TC002"></class>
            <class name="techproed.allovercommerce.tests.us06.TC003"></class>
        </classes>
    </test>
</suite>