<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="techproed.utilities.ExtentReportsListener"></listener>
    </listeners>
    <test name="User Story 06 Report" preserve-order="true" verbose="2" >
       <packages>
           <package name="techproed.allovercommerce.tests.US06"></package>
       </packages>
    </test>
</suite>